.a{
    display:inline-block;
    width:100px;
    height:100px;
    background-color:green;
    
    }
    .b{
    display:inline-block;
    width:100px;
    height:100px;
    max-width:100px;
    max-height:100px;
    background-color:white;
    
    }

    
    .c{
    
    display:inline-block;
    width:100px;
    height:100px;
    max-width:100px;
    max-height:100px;
    background-color:red;
    
    }
    #main{
    width:800px;
    border: 1px solid red;
    }
    #at{
    width:40px!important;
    cursor:pointer;
    }

